
.stay-focused {
    float: left;
    width: 50%;
    margin-top: 6px;
    margin-left: 10%;
    padding: 20px;
  }



  

section{
    height: 550px;
    padding-bottom: 150px;
    width: 1440px;
}
.section1{
    width: 100%;
    position: inherit;
    display: flex;
}
.first-sec{
    width:60%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.first-sec img{
  
    position: absolute;
    width: 426px;
    height: 623px;
    left: 807px;
    top: -50px;
}
.border-sec{

    position: absolute;
    width: 520px;
    height: 160px;
    left: 156px;
    top: 140px;
    padding-bottom: 30px;
}
.p-1{
    position: absolute;
    width: 471px;
    height: 84px;
    left: 157px;
    top: 315px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    
    
    color: #3E3E3E;
}
h1{

    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 0px;
    color: #333333;
}
h2{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 40px;
    color: #FFAD5A;
}
.anchor-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
    position: absolute;
    width: 172px;
    height: 32px;
    left: 156px;
    top: 428px;
    
    background: #DF5859;
    border-radius: 5px;
}
.small-text{
    position: absolute;
    width: 297px;
    height: 24px;
    left: 156px;
    top: 499px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #434343;
}

.second-sec{
    display: flex;
    margin-left: 156px;
}
.experience-area1{
    
    width: 360px;
    height: 376px;
    left: 156px;
    top: 723px;
    padding-left: 1%;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 26px;
}

.experience-area1 img{

position: absolute;
height: 200px;
width: 200px;


}
.experience-area1 h3{
    font-family: Poppin;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 400px;
    color: #000000;
}
.missionp1{
    position: absolute;
    width: 315px;
    height: 101px;
    top: 1040px;
    font-family: Poppin;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #424242;
}


.experience-area2{
    
    width: 360px;
    height: 376px;
    left: 540px;
    top: 723px;
    margin-left: 1%;
    padding-left: 1%;

    background: #FF59591A;

    border-radius: 26px;

}
.experience-area2 img{

    position: absolute;
    height: 200px;
    width: 200px;
    
    
    }
    .experience-area2 h3{
        font-family: Poppin;
        font-style: normal;
        font-weight: 600px;
        font-size: 24px;
        line-height: 400px;
        color: #000000;
    }
    .experience-area2 p{
        position: absolute;
    width: 315px;
    height: 101px;
    top: 1040px;
    font-family: Poppin;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #424242;
    }
    

.experience-area3{

    width: 360px;
    height: 376px;
    left: 924px;
    top: 723px;
    margin-left: 1%;
    padding-left: 1%;
    background: #FFF4D6;
    border-radius: 26px;
    
}

.experience-area3 img{

    position: absolute;
    height: 200px;
    width: 200px;
    
    
    }

.experience-area3 h3{

    font-family: Poppin;
        font-style: normal;
        font-weight: 600px;
        font-size: 24px;
        line-height: 400px;
        color: #000000;

}
.experience-area3 p{
    position: absolute;
width: 315px;
height: 101px;
top: 1040px;
font-family: Poppin;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
color: #424242;
}

#sec2{
  
    text-align:center ;
}

.anchor-button2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    
    width: 180px;
    height: 50px;
    background: #FF5959;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.anchor-button3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    
    width: 180px;
    height: 40px;
    background: #FF5959;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-decoration: none;


}
.section3{

display: flex;


}
.sec-3{

    position: absolute;
    border-radius: 26px;
    left: 158px;
    top: 1200px;

}
#img-5{
    position: absolute;
    width: 400px;
    height: 400px;
}

.sec-3-2{
    position: absolute;
    width: 654px;
    height: 311px;
    left: 630px;
    top: 1200px;


}
.section4{
    display: flex;
}
.sec-4-2{
    position: absolute;
    width: 621px;
    height: 312px;
    left: 158px;
    top: 1700px;
}
.sec-4{
    position: absolute;
    border-radius: 26px;
    left: 883px;
    top: 1700px;

}
#img-6{
    position: absolute;
    width: 400px;
height: 400px;
}



* {
    box-sizing: border-box;
    
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=send] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }


.footer{
   
    position: absolute;
    left: 0%;
    right: 0%;
    top: 3410px;
    bottom: 0%;
    height: 177px;
    width: 100%;

background: #0B0D17;
}

.footer-b-text {
    color: white;
}